/* patches for Internet Explorer */

* html div#main {
	height:350px;
}

* html .table {
	width:99% !important;
}

* html form ul {
	width:99% !important;
}

* html ul.locales {
	margin-top: -3px !important;
}

* html div#content {
	min-width: 770px !important;
}