/* This is the style for the informational messages presented to the user */

label.error {
    font-weight: bold;
}

/* IE fix, followed by the rest of the world fix */
li.error {
    padding: 3px !important;
}

ul>li.error {
    padding: 0px !important;
}

div.message p, div.message p {
    margin-bottom: 0;
}

img.validationWarning, div.error img.icon, div.message img.icon, li.error img.icon {
    border: 0 !important;
    width: 14px;
    height: 13px;
    vertical-align: middle;
    /*margin-left: 3px;*/
    background: transparent !important;
    padding-right: 15px;
    /* important added because some themes define div#main img */
}

div.message a {
    background: transparent;
    color: #0000FF;
}

div.message a:visited {
    background: transparent;
    color: #0000FF;
}

div.message a:hover {
    background: transparent;
    color: #008000;
}

div.message a:active {
    text-decoration: underline overline;
}

div.message img.icon {
    vertical-align: middle;
}

img.calIcon {
    vertical-align: middle;
    padding-bottom: 6px;
}

span.fieldError, .errorMessage {
    color: red;
    font-size: .95em;
    font-weight: bold;
    display: block;
}


div#successMessages {
	background-color: #DFFFDF;
	border: 2px solid #9FCF9F;
	color:#005F00;
	margin-bottom:12px;
	padding:4px 7px 4px 4px;
}

div.message img.message-icon {
	padding-right: 7px;
	padding-top: 2px;
	padding-bottom: 3px;
	border: 0 !important;
    vertical-align: middle;
    background: transparent !important;
}

div#errorMessages {
    color: #D8000C;
    background-color: #FFBABA;
	margin-bottom:12px;
	padding:4px 7px 4px 4px;
}

