.t5-bootstrap-dismiss-all {
    display: none;
}

.data-block ul {
    margin-bottom: 0 !important;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: #FFFDDD !important;
}

dd {
    /**  if <dd> has no content, it's collapsed and others are shifted up **/
    min-height: 20px; /* should be the same as line-height */
}

.dl-horizontal {
    background:#FFFFDD none repeat scroll 0 0;
    border:1px solid #D7D7D7;
    display: block;
    padding-top: 10px;
    padding-bottom: 25px;
}

.dl-horizontal dt, .dl-horizontal dd {
    display: block;
    float: left;
    margin-top: 10px;
}

.dl-horizontal dt {
    text-align: left;
    margin-left: 15px;
}

header h2 a {
    text-decoration: underline;
    color: #4986e7;
}

header h2 a:hover {
    text-decoration: underline;
    color: #1853b2;
}

.no-margin{
    margin: 0 !important;
    padding-bottom: 0 !important;
    border-bottom: none;
}

.balance {
    border-top: none;
    padding: 0;
}